body {
  background: black;
  color: white;
  text-align: center;
  margin: auto;
}

button {
  width: 250px;
  height: 75px;
  border-color: white;
  border-radius: 5px;
  background: black;
  color: white;
}

img {
  border-color: white;
  margin: auto;
}

p {
  font-size: 20px;
}