body {
    background: #000000;
    color: #cccccc;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

canvas {
    image-rendering: optimizeSpeed;
    -webkit-interpolation-mode: nearest-neighbor;
    -ms-touch-action: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:-webkit-full-screen #canvas {
    width: 100%;
    height: 100%;
}

div.gm4html5_div_class {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

/* START - Login Dialog Box (something from the original game version) */
div.gm4html5_login {
    padding: 20px;
    position: absolute;
    border: solid 2px #000000;
    background-color: #404040;
    color: #00ff00;
    border-radius: 15px;
    box-shadow: #101010 20px 20px 40px;
}

div.gm4html5_cancel_button {
    float: right;
}

div.gm4html5_login_button {
    float: left;
}

div.gm4html5_login_header {
    text-align: center;
}

/* END - Login Dialog Box */